<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large) %>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p class="card-text"><%= @ad.description.html_safe %></p>
  </div>

  <div class="ratings">
  	<p class="pull-right"> 3 reviews</p>
  	<p>
  		<%= rating_for @ad, 'quality', disable_after_rate: true %>
  	</p>
  </div>
</div>

<div class="well">
	<% if member_signed_in? %>
		<div class="text-right">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
				  Deixe um comentario
				</button>
		</div>
	<% else %>
		<div class="text-right">
				<button type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#commentModal">
				  Efetue o login para fazer comentário
				</button>
		</div>
	<% end %>

	<hr>

	<%= render partial: 'site/ad_detail/comments'%>
	<%= render partial: 'site/ad_detail/comment_modal'%>
</div>