<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large) %>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p class="card-text"><%= @ad.description.html_safe %></p>
    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
    4.0 stars
  </div>
</div>

<div class="well">
	<% member_signed_in? %>
		<div class="text-right">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
				  Deixe um comentario
				</button>
		</div>
	<% end %>

	<hr>

	<%= render partial: 'site/ad_detail/comments'%>
	<%= render partial: 'site/ad_detail/comment_modal'%>
</div>

